@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Simma-Lugnt-bold";
  src: url("./assets/fonts/Simma-Lugnt-bold.otf") format("opentype");
}

@font-face {
  font-family: "Simma-Lugnt-regular";
  src: url("./assets/fonts/Simma-Lugnt-regular.otf") format("opentype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Simma-Lugnt-regular;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: Simma-Lugnt-bold;
  line-height: 48px;
  font-size: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
